.nav-red{
    background-color:#d00000;
}
.carousel-text
{font-size: 50px; ;
    text-align-last: center;
    color: #03071e;
    background-color: #d00000;
}
.carousel-textp
{font-size: 25px;
    color: #03071e; 
    background-color: #d00000;

}

.carousel-caption
{
    max-width: 300px;
    margin: 0 auto;
}
a {
    color:
}
