.nav-red{
    background-color:#e5383b;
}
.my-form{
    padding: 30px 50px;
}
.carousel-text
{font-size: 50px; ;
    text-align-last: center;
    color: #03071e;
    background-color: white;
}
.carousel-textp
{font-size: 25px;
    color: #03071e; 
    background-color: white;

}

.carousel-caption
{
    max-width: 300px;
    margin: 0 auto;
}

 .rounded-image{
    border-radius: 50%;
    padding: 10%;
     }
    
.button{ 
    color: white;
    }
.button:hover{
    color:white;
}
body{
    background-color:#d3d3d3;
}
@media only screen and (max-width: 1000px) {
     
        .carousel-text
        {font-size: 30px; 
            text-align-last: center;
            color: #03071e;
            background-color: white;
        }
        .carousel-textp
        {font-size: 15px;
            color: #03071e; 
            background-color: white;
        
        }
        #carouselExampleCaptions{
            margin-top: 10px 0;
            height:300px;
        }
        #carouselExampleCaptions img{
            height:300px;
        }
        
    }
    #form {
        background-color:#d3d3d3
    }
    